#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/stars.jpg'); /* Specify the path to your image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Repeat the background image */
  background-attachment: fixed; /* Keep background fixed while scrolling */
}